
.the-button{
    display: flex;
    flex-direction: row;
    border:solid 1px #FBC6AC;
    width:10rem;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 1rem;
    justify-self: center;
    align-self: center;
    transition-duration: 500ms;
  }
  .caption{
    font-family: 'Somar';
    font-size: 0.8rem;
    margin-left: 1rem;
  }
  
  .arow img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  
    width: 2rem;
    height: 1.7rem;}
  
  
.the-button:hover{
    background: white;
    color: #F36E37;
    border-color: white;

}
  
.the-button:hover .arow img {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    content: url('/Assets/images/arow2.png');
}