.calculator-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 35vh; 
    background-color: #F36E37; 
    width: 100%;
}

.calculator-text {
    text-align: center;
    font-size: 30px;
}
