.calculator-container {
    display: flex; 
    justify-content: start; 
    align-items: start; 
    height: 35vh; 
    background-color: #F36E37; 
    width: 100%;
}

.calculator-text {
    font-family: 'Somar-bold';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    color:  #FBC6AC;
}
