.calculator-container {
    height: 60vh; 
    background-color: #F36E37; 
    width: 100%;
}

.calculator-text {
    font-family: 'Somar-bold';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    color:  #FBC6AC;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-top: 50px;
}

.calculat-btn-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculat-btn {
    width: 20%;
    margin-top: 30px;
    padding: 10px;
    background-color: #451C44;
    border-radius: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.select {
    appearance: none; 
    background-color: #f0f0f0; 
    border: 2px solid #ddd; 
    border-radius: 8px;
    padding: 7px 40px; 
    font-size: 16px; 
    color: black; 
    cursor: pointer; 
    outline: none; 
    transition: border-color 0.3s ease; 
}

.select:hover {
    border-color: #ccc; 
}

.select:focus {
    border-color: #451C44; 
    box-shadow: 0 0 5px rgba(69, 28, 68, 0.5); 
}

@media (max-width: 768px) {
    .calculator-text{
        line-height: 100%;
        font-size: 35px !important;
    }
    .calculator {
        flex-direction: column;
        gap: 0px;
        margin-top: 20px;
    }
    .select {
        padding: 5px 30px;
    }
    .calculat-btn {
        width: 50%;
        margin-top: 20px;
    }
}