.portfolio-cont{
    background-color: #451C44;
  
    display: flex;
    flex-direction: column;
    gap:2rem;
    
    position: relative;
}


.Portf_images{
    display: flex;
    flex-direction: row;
    gap :1rem
}

@media (max-width: 768px) {
    .Portf_images {
      flex-direction: column;
    }
  }
