.portfolio-cont{
    background-color: #451C44;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:2rem;
    
    position: relative;
}

.Portf_images{
    display: flex;
    flex-direction: row;
    gap :1rem
}