.partenr{
    background:rgba(255,255,255,0.1);
   
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: url('/Assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
  
}


  .slider-wrapper .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid gold 5px;
    background: white;
  }
  
  .slider-wrapper .slick-list {
    overflow: hidden;
  }
  .slick-dots li{
    width:2px;
  }
  .slick-dots li button:before {
    color: #fff !important;
    font-size: 10px !important;
}
  
  
  
@media (max-width: 1200px) {
    .logo {
      width: 12rem;
    }
  }
  
  @media (max-width: 992px) {
    .logo {
      width: 11rem;
    }
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 10rem;
    }
  }
  
  @media (max-width: 576px) {
    .logo {
      width: 50rem;
    }
    .partenr{
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  
  @media (max-width: 360px) {
    .logo {
      width: 40rem;
    }
    .partenr{
      padding-right: 2rem;
      padding-left: 2rem;
    }

  }