.partenr{
    background:rgba(255,255,255,0.1);
   
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: url('/Assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
  
}


  .slider-wrapper .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid gold 5px;
    background: white;
  }
  
  .slider-wrapper .slick-list {
    overflow: hidden;
  }

  .slick-dots li{
    width:2px;
  }

  .slick-dots li button:before {
    color: #fff !important;
}

.slick-dots li button:before {
  transition: all 0.3s ease-in-out; 
}

.slick-dots li.slick-active button:before {
  transform: scale(1.2); 
  animation: bounce 0.6s; 
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
}
  
  
  
@media (max-width: 1200px) {
    .logo {
      width: 12rem;
    }
  }
  
  @media (max-width: 992px) {
    .logo {
      width: 11rem;
    }
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 10rem;
    }
  }
  
  @media (max-width: 576px) {
    .logo {
      width: 50rem;
    }
    .partenr{
      padding-right: 2rem;
      padding-left: 2rem;
    }
    .title{
      font-size: 45px;
    }
    .silder{
      padding: 20px;
    }
    .slick-dots{
      bottom: -20px !important;
    }
  }
  
  @media (max-width: 360px) {
    .logo {
      width: 40rem;
    }
    .partenr{
      padding-right: 2rem;
      padding-left: 2rem;
    }


  }