.sec1 {
    display: flex;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 5rem;

}
.sec2 ,.sec-reverse{
    display: flex;
    align-items: center;
    gap:2rem
}
.sec-reverse,.mission{
    padding-bottom: 50px;
}
.usps{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.right {
    flex: 1;
    position: relative;
    
}
.imagepana img{
   
    width: 100%;
   
    top:0;
    
}

.left-about {
    flex: 1;
    display: flex;
    flex-direction: column;
    
   
}

.left-header {
    font-family: 'Somar', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    /* Adjusted font size for better scaling */
    line-height: 2.5rem;
    margin-bottom: 1rem;


}
.missionTitle{
    padding-top: 50px;
}
.pragrf {
    line-height: 1.8rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.15rem;
    color: #FBC6AC;
    padding-bottom:3rem ;


}

.Vector{
    position: absolute;
    width: 45%;
    top:19rem;
    left: 19.2rem;
    
}

.Vector1{
    position: absolute;
    width: 45%;
    top:19rem;
    left: 26.2rem;
    
}

@keyframes flash{
    50%, 0%{
         opacity:0.01;
    }
   
    25%,100%{
        opacity:1;
    }
}

.animate-apear{
    animation: apear 5s ease-out;
}

.animate-apear-2{
    animation: apear 2s ease-out;
}
.animate-flash{
    animation: flash 5s ease-in-out;
    
}

.eclips{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Somar-bold';
    font-size: 1.5rem;
    padding: 1.5rem;
    bottom: 2.36rem;
    width: 17rem;
    height: 13.6rem;
    left:19.2rem;
    /* Ellipse 39 */
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 50%;
    z-index: 58;
}
.eclips1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Somar-bold';
    font-size: 1.5rem;
    padding: 1.5rem;
    bottom: 2.36rem;
    width: 17rem;
    height: 13.6rem;
    right:19.2rem;
    /* Ellipse 39 */
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 50%;
    z-index: 58;
}
@keyframes apear{
    0%{
       opacity:0;
    }
    100%{
       opacity:1;
    }
}
.Team-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.team{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.member{
    display: flex;
    flex-direction: row;
    

}
.mem-data{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: space-around;
    flex: 1.5;
}
.mem-image{
    flex: 0.5;
}

.mem-image img{
    border-radius: 50%;
    width: 80%;
    border: solid 2px #8A1848;
    
}

.social{
    display: flex;
    gap: 1rem;
}
.social2{
    display: none;
    gap:10px
}
.icon{
    background: rgba(217, 217, 217, 0.36);
    border-radius: 50%;
    padding: 0.5rem;
}

.singel-usp-containr{
    display: flex;
    flex-direction: column;
    background: #FBC6AC;
    padding: 1rem;
    position: relative;
    
}
.usp-desc{
    color: black;
    font-weight: 600;
}
.usp-title{
    font-weight: 700;
    font-family: 'Somar-bold';
    font-size: 1.5rem;
}

.singel-usp-containr .rimg{
    position: absolute;
    top:0;
    right: 0;
    width:5%
    
}

.singel-usp-containr .limg{
    position: absolute;
    top:0;
    left: 0;
    width:5%
    
}



.slick-dots li button:before {
    color: #451C44; /* Dots color */
    font-size: 12px; /* Adjust dot size if needed */
}

.slick-dots li.slick-active button:before {
    color: #451C44; /* Active dot color */
}

/* Change the background color of the arrows */
.slick-prev,
.slick-next {
    background-color: #451C44; /* Arrow background color */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
    transition: opacity 0.3s;
    z-index: 6;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}

/* Adjust the arrow icon color */
.slick-prev:before,
.slick-next:before {
    color: #FBC6AC; /* Change arrow icon color */
    font-size: 20px; /* Adjust icon size if needed */
}

.slick-prev {
    left: -40px; /* Adjust this value to add gap to the left arrow */
}

.slick-next {
    right: -40px; /* Adjust this value to add gap to the right arrow */
}
.slideru{
    padding: 0 5rem;
}



@media (max-width: 1200px) {
    .sec1,.sec2{
        flex-direction: column;
        gap:30px;
        align-items: flex-start;
    }
    .sec-reverse{
        /* display: flex; */
        flex-direction: column-reverse !important;
    }
    .eclips{
        z-index: -5;

    }
    .Vector{
        z-index: -5;
    }
    .pt-20{
        padding-top: 10px;
    }
    .slideru {
        padding: 10px;
    }
    .slick-prev, .slick-next{
        top:35%;
    }
    .usps{
        padding-top: 2.5rem;
        padding-bottom: 0;
    }
    .slick-dots{
        bottom: 20px;
    }
    .team{
        grid-template-columns: 1fr;
    }
    .missionTitle{
        padding-top: 0;
    }
    

}

@media (max-width: 480px) {
    .left-header{
        font-size: 24px;
    }
    .social{
        display: none;
    }
    .social2{
        display: flex;
    }
    .Team-section .header .title p{
        font-family: 'Somar';
        font-weight: 400;
        font-size: 24px;
    }
    .desc{
        margin-top: -15px;
        padding-top: 0;
    }
    .pt-20{
        padding-top: 0;
    }
    .usp-desc{
        font-size: 10px;
    }
    .rightImg img{
        padding-left: 120px;
        z-index: 99;
    }
    .Vector{
        position:absolute;
        width: 60%;
        top:52.5rem;
        left: 0.75rem;;
        z-index: 98;
        
    }

    .Vector1{
        position:absolute;
        width: 60%;
        top:45.2rem;
        left: 0.75rem;;
        z-index: 98;
        
    }

    .eclips{
        display: none;
    }

    .eclips{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Somar-bold';
        font-size: 0.5rem;
        padding: 20px;
        bottom: 6.22rem;
        width: 5.8rem;
        height: 74px;
        left: 0.75rem;;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(50px);
        border-radius: 50%;
        z-index: 100;
        /* border: 1px red solid; */
    }

    .eclips1{
        display: none;
    }

    .eclips1{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Somar-bold';
        font-size: 0.5rem;
        padding: 20px;
        bottom: 6.22rem;
        width: 5.8rem;
        height: 74px;
        right: 17.7rem;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(50px);
        border-radius: 50%;
        z-index: 100;
        /* border: 1px red solid; */
    }

}
