.Header-container{
    height: 100%;
    background-image: url('/Assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.Caption{
    font-family: 'Somar-bold';
    font-size: 80px;
    padding-top:10rem;
    padding-bottom: 10rem;
}




@media (max-width: 768px) {
    .Caption {
        font-size: 2rem;
        padding: 2rem;
        padding-bottom: 1rem;
    }
}
@media (max-width: 480px) {
    .Header-container{
        height: 30vh;
        background-image: url('/Assets/images/background.png');
        background-size: cover;
    }
    .Caption {
        font-size: 2rem;
        padding-top: 5rem;
        padding-bottom: 1rem;
        font-size: 30px;
    }
}
