.Nav-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(221, 233, 221, 0.0);
    max-width: 1920px;
    position: absolute; /* Make the container absolute */
    top: 0; /* Position it at the top of its containing element */
    left: 0; /* Position it at the left of its containing element */
    width: 100%; /* Ensure it spans the full width of the screen */
    z-index: 10; /* Ensure it's above other elements if necessary */
}
.nav-logo {
    height: 5.592105263dvh;
    width: 8.4375vw;
    margin-top: -20px;
}

.NavMenue {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    flex-grow: 1;
}

.item {
    font-family: 'Somar-bold';
    font-style: normal;
    color: white;
    align-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
}

.item.active {
    color: #F36E37;
}

/* Hamburger Icon */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .lng-btn {
        top: 10px !important;
        left: 30px !important;
        position: absolute;
    }
    .NavMenue {
        display: none;
        flex-direction: column;
        padding: auto;
        background:rgb(0, 0, 0, 0.6);
        top: 8.77192vh; /* Adjust according to your navbar height */
        padding: 1rem;
        align-self: end;
        position: absolute;
        width:100%;
        right:0;
        z-index: 5;
        
        
    }
    .Nav-Container{
        align-items: start;
    }

    .NavMenue.open {
        display: flex;
    }

    .item {
        margin: 0.5rem 0;
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width: 480px) {
    .nav-logo {
        height: 3.5vh;
        width: 20vw;
    }
    .item {
        font-size: 0.8rem;
    }
}
