.Contact-Container{
    display: flex;
    justify-content: space-between;

}
.left-contact{
    display: flex;
    width:90%;
    /* height: 40vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition:width 5s ease-in-out;
    text-align: center;
    
}
/*
.right{
    overflow: hidden;
    position: absolute;
    right:-90%;
} */
.right img{
    height: 100%;
}

.btn{
    color: white;
    display: flex;
    font-family: 'Somar-bold';
    font-size: 2rem;
    height: 2rem;
    border: solid 3px white;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
.tc{
    text-align: center;
}

.title-contact{
    font-family: 'Somar';
    font-weight: 500;
    /* font-size: 2rem; */
}


/* Media query for screens less than 768px wide */
@media (max-width: 768px) {
    .Contact-Container {
        align-items: center;
        flex-direction: column;
    }

    .left-contact {
        gap: 1rem;
        flex:1;
        width:100%;

    }
    .tc{
        font-size: 0.5rem;
    }
    .btn {
        font-size: 0.8rem;
        padding: 0.3rem 1rem;
        height: auto;
    }
    .title-contact{
        font-size: 1.1rem;
    }
    .Contact-Container{
        
        height: fit-content !important;
    }

}

/* Media query for screens less than 480px wide */