.Sec{
    display: flex;
    gap: 1rem;
}

.sup-title{
    font-size: 2rem;
   }
.sec-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Sec2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.sec2-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.sec2-right{
    flex: 1;
    margin-bottom: 30px;
}

.sup-title{
    font-family: 'Somar-bold';
    
}
.padv{
    padding: 4rem 0; 
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    justify-content: space-between;
}

.input{
    padding: 0.7rem;
    font-size: 0.9rem;

}

.contact-btn{
    padding: 0.5rem 1rem;
    font-family: 'Somar-bold';
    font-size: 1.5rem;
}
.center{
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
}

.lower{
    display: flex;
    gap:1rem
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.Sec3{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 5rem 9.416vw 5rem 9.416vw;
}




@media (max-width: 768px) {
   .Sec{
    flex-direction: column-reverse;
   }
   .sup-title{
    font-size: 1.2rem;
   }
   .lower{
    flex-direction: column;
   }
}